.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    background-color: #1a1a1a;
  }
  
  .formWrapper {
    background-color: #ffd700;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .formWrapper h1 {
    margin-bottom: 20px;
    color: #000;
  }
  
  .inputGroup {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitButton {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #333;
  }
  